* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    color: white;
    font-family: 'Lato', sans-serif;
    background-color: black;
}
h1 {
    color: rgb(214, 35, 35);
    font-weight: 700;
    padding: 10px;
}
.front-img {
    display: flex;
    justify-content: center;
    padding: 10px;
}
.front-img img {
    max-width: 600px;
    max-height: 500px;
}